<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :acountid, "ユーザーID" %><br />
    @<%= f.text_field :acountid, autofocus: true, autocomplete: "acountID" %>
  </div>

  <div class="field">
    <%= f.label :icon, "アイコン" %><br />
    <%= f.file_field :icon, autofocus: true %>
  </div>

  <div class="field">
    <%=f.label :gender, "性別" %><br />
    <%=f.radio_button :gender, 1, autofocus: true%>Men
    <%=f.radio_button :gender, 2, autofocus: true%>Women
    <%=f.radio_button :gender, 3, autofocus: true%>Free
  </div>

  <div class="field">
    <%=f.label :length_id, "長さ・スタイル" %><br />
    <%=f.collection_select(:length_id, Length.all, :id, :name, {prompt: '---'})%>
  </div>

  <div class="field">
    <%=f.label :salon_id, "お気に入りサロン" %><br />
    <%=f.collection_select(:salon_id, Salon.all, :id, :name, {prompt: '---'})%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :introduction, '紹介文' %><br />
    <%= f.text_area :introduction, autofocus: true, placeholder: "自己紹介文を入力してください", rows: "10"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
