.user
  .user__leftbox
    .user__leftbox__icon
      = link_to user_path(user) do
        = image_tag user.icon_judge
    .user__leftbox__btn
      - if user_signed_in?
        - if current_user.id == user.id
          %button{type: "button", class: "btn btn-primary", id: "user-edit"}
            = link_to '編集', edit_user_registration_path(user)
        - else
          - if current_user.following? user
            %button{type: "button", class: "btn btn-primary", id: "unfollow"}
              = link_to "フォロー中", {controller: :users,action: :unfollow,user_id: user.id}, method: :put
          - else
            %button{type: "button", class: "btn btn-primary", id: "follow"}
              = link_to "フォローする", {controller: :users,action: :follow,user_id: user.id}, method: :put
  .user__rightbox
    .user__rightbox__top
      .user__rightbox__top__name
        = user.name
      .user__rightbox__top__contents
        .user__rightbox__top__contents__id
          @#{user.acountid}
        .user__rightbox__top__contents__gender
          - if user.gender_id.present?
            |
            = user.gender.name
        .user__rightbox__top__contents__age
          - if user.age.present?
            |
            = user.age
        .user__rightbox__top__contents__length
          - if user.length_id.present?
            |
            = user.length.name
        - if user.salon.present?
          |
          = link_to salon_path(user.salon), class: 'user__rightbox__top__contents__salon' do
            = salon_name(user.salon)
    .user__rightbox__bottom
      .user__rightbox__bottom__count
        = link_to "/users/follow_list/#{user.id}", class: 'user__leftbox__count__follow' do
          フォロー
          = user.follow_count
        = link_to "/users/follower_list/#{user.id}", class: 'user__leftbox__count__follower' do
          フォロワー
          = user.followers_count