= form_with(model: @user, local: true, class:'user-edit individual-page') do |f|
  .user-edit__head.individual-page__head
    .user-edit__head__contents.individual-page__head__contents
      = icon 'fas', 'user-edit', class: ''
      %span ユーザー情報編集
  .user-edit__contents
    = render partial: 'shared/user-edit-side'
    .user-edit__contents__main
      .user-edit__contents__main__head
        プロフィール情報の変更ができます。
      .user-edit__contents__main__basic
        基本情報
      .user-edit__contents__main__basicForm
        .user-edit__contents__main__basicForm__name.list
          .user-edit__contents__main__basicForm__name__title.list__title
            ユーザー名
          .user-edit__contents__main__basicForm__name__input.list__input
            = f.text_field :name, autofocus: true, autocomplete: "name"
        .user-edit__contents__main__basicForm__acountid.list
          .user-edit__contents__main__basicForm__acountid__title.list__title
            ユーザーID
          .user-edit__contents__main__basicForm__acountid__input.list__input
            = f.text_field :acountid, autofocus: true, autocomplete: "acountID"
        .user-edit__contents__main__basicForm__gender.list
          .user-edit__contents__main__basicForm__gender__title.list__title
            性別
          .user-edit__contents__main__basicForm__gender__select.list__select
            = f.collection_radio_buttons(:gender_id, Gender.all, :id, :name) do |b|
              = b.label { b.radio_button + b.text }
        .user-edit__contents__main__basicForm__length.list
          .user-edit__contents__main__basicForm__length__title.list__title
            Length
          .user-edit__contents__main__basicForm__length__select.list__select
            .user-edit__contents__main__basicForm__length__select__women.list__select
              %span Women
              = f.collection_radio_buttons(:length_id, Length.all.first(7), :id, :name) do |b|
                = b.label { b.radio_button + b.text }
            .user-edit__contents__main__basicForm__length__select__men.list__select
              %span Men
              = f.collection_radio_buttons(:length_id, Length.all.last(6), :id, :name) do |b|
                = b.label { b.radio_button + b.text }
        .user-edit__contents__main__basicForm__salon.list
          .user-edit__contents__main__basicForm__salon__title.list__title
            お気に入りサロン
          .user-edit__contents__main__basicForm__salon__select.list__select
            .user-edit__contents__main__basicForm__salon__select__name
              - if @user.salon.present?
                = @user.salon.name
              - else
                ※現在設定されていません
            .searchbox__form__select
              %span エリア
              = icon "fas", "chevron-right"
              .searchbox__form__select__list
                .searchbox__form__select__list__contents
                  - Area.all.each do |area|
                    .searchbox__form__select__list__contents__content.area-content{data: {id: area.id}}
                      = area.name
            .searchbox__form__area-selected.form-selected
            .searchbox__form__search
              = f.hidden_field :salon_id, name: 'user[salon_id]', value: '', id: 'content_id'
              %input.searchbox__form__search__salon#salon-search{placeholder: "サロンを探す", type: "text", autocomplete: "off"}
              #salon-search-result
            .searchbox__form__salon-selected.form-selected
        .user-edit__contents__main__basicForm__age.list
          .user-edit__contents__main__basicForm__age__title.list__title
            年齢
          .user-edit__contents__main__basicForm__age__input.list__input
            = f.number_field :age, class: "", min: 1, max: 100
      .user-edit__contents__main__introduction
        自己紹介
      .user-edit__contents__main__introductionForm
        = f.text_area :introduction, autofocus: true, placeholder: "自己紹介文を入力してください", rows: "10"

  .user-edit__submit
    = f.submit "更新する"

  = link_to "Back", :back
