.sidebar__search.sidebar__content
  .sidebar__search__head.sidebar__content__head
    探す
  %ul.sidebar__search__list.sidebar__content__list
    %li.sidebar__search__list__style
      = link_to search_posts_path do
        = icon 'fas', 'camera-retro', class: 'search-icon'
        %span スタイルを探す
    %li.sidebar__search__list__salon
      = link_to search_salons_path do
        = icon 'fas', 'store-alt', class: 'search-icon'
        %span サロンを探す
    %li.sidebar__search__list__user
      = link_to search_users_path do
        = icon 'far', 'user', class: 'search-icon'
        %span ユーザーを探す
    %li.sidebar__search__list__item
      = link_to search_items_path do
        .search-icon
          = image_tag 'wax.png'
        %span アイテムを探す
.sidebar__popularity-salon.sidebar__content
  .sidebar__popularity-salon__head.sidebar__content__head
    人気サロン
  %ul.sidebar__popularity-salon__list.sidebar__content__list
    - @popularity_salons.each do |salon|
      %li
        = link_to salon_path(salon) do
          = salon_name(salon)
.sidebar__popularity-user.sidebar__content
  .sidebar__popularity-user__head.sidebar__content__head
    ユーザー
  %ul.sidebar__popularity-user__list.sidebar__content__list
    - @popularity_users.each do |user|
      %li
        = link_to user_path(user), class: "sidebar__popularity-user__list__user" do
          .sidebar__popularity-user__list__user__icon
            - if user.icon.url.present?
              = image_tag user.icon.url, size: '35x35'
            - else
              = image_tag 'egg-icon-gray.png', size: '35x35'
          .sidebar__popularity-user__list__user__right
            .sidebar__popularity-user__list__user__right__name
              = user.name
            .sidebar__popularity-user__list__user__right__follower
              %span フォロワー
              = user.followers.count
.sidebar__popularity-item.sidebar__content
  .sidebar__popularity-item__head.sidebar__content__head
    人気アイテム
  %ul.sidebar__popularity-item__list.sidebar__content__list
    - @popularity_items.each do |item|
      = form_with(model: @post, url: search_posts_path, local: true, class:'searchbox__form', method: :get) do |f|
        = f.hidden_field :item_id, value: item.id, id: "item-id-#{item.id}"
        .sidebar__popularity-item__list__image
          - if item.image_url == "?target=70x70" 
            = image_tag 'noimage.jpg', size: '35x35'
          - else
            = image_tag item.image_url, size: '35x35'
        .sidebar__popularity-item__list__input
          = f.submit "#{item.name}"