= link_to salon_path(salon), class: 'salon' do
  .salon__contents
    .salon__contents__left
      = image_tag salon.image_url
    .salon__contents__right
      .salon__contents__right__namekana
        = salon.nameKana
      .salon__contents__right__name
        = salon.name
      .salon__contents__right__introduction
        = salon.introduction
  .salon__contents__right__access
    %span アクセス
    = salon.access
  .salon__contents__right__address
    %span アドレス
    = salon.address