= link_to room_path(room), class: 'room' do
  .room__left
    - if partner(room).icon.url.present?
      = image_tag partner(room).icon.url, size: '40x40'
    - else
      = image_tag 'egg-icon-gray.png', size: '40x38'
  .room__right
    .room__right__top
      .room__right__top__name
        = partner(room).name
      .room__right__top__acountid
        @#{partner(room).acountid}
    .room__right__bottom
      - if room.messages.present?
        -# = simple_format(room.messages.last.body).sub!(/\n.*/m, "").slice(3..50)
        - if room.messages.last.body.present?
          = room.messages.last.body.sub(/\n.*/m, "").slice(0..20)
        - else 
          画像が送信されました。