.item-search__contents__main__items__item
  .item-search__contents__main__items__item__img
    - if item.image_url == "?target=70x70" 
      = image_tag 'noimage.jpg', size: '70x70'
    - else
      = image_tag item.image_url
  .item-search__contents__main__items__item__brand
    = item.brand.name
  .item-search__contents__main__items__item__name
    = item.name
  = form_with(model: @post, url: search_posts_path, local: true, class:'item-search__contents__main__items__item__count', method: :get) do |f|
    = f.hidden_field :item_id, value: item.id, id: 'item_id'
    = f.label "item#{item.id}-search" do
      = item.posts.count
      %span スタイル
    = f.submit id: "item#{item.id}-search",style: 'display:none;'
  
  = link_to '購入はこちら', item.link, class:"item-search__contents__main__items__item__link"