= form_with(model: @post, local: true, class:'post-new individual-page') do |f|
  .post-new__head.individual-page__head
    .post-new__head__contents.individual-page__head__contents
      = icon 'fas', 'camera-retro', class: 'search-icon'
      %span スタイルを投稿する
  .post-new__form
    .post-new__form__image.form-content
      .post-new__form__image__head.form-content__head
        スタイル画像
      .post-new__form__image__form.form-content__content
        = f.fields_for :images do |img|
          .post-new__form__image__form__box
            .post-new__form__image__form__box__image
              %span NO IMAGE
              = image_tag '', id: 'postNewImage1'
            %label{for:"post_images_attributes_0_image"}追加
            = img.file_field :image, name: "post[images_attributes][0][image]", type: "file", id: 'post_images_attributes_0_image', style: 'display:none;'
            %input{type: "button",value: '取消', id: 'removeImage1'}
          .post-new__form__image__form__box
            .post-new__form__image__form__box__image
              %span NO IMAGE
              = image_tag '', id: 'postNewImage2'
            %label{for:"post_images_attributes_1_image"}追加
            = img.file_field :image, name: "post[images_attributes][1][image]", type: "file", id: 'post_images_attributes_1_image', style: 'display:none;'
            %input{type: "button",value: '取消', id: 'removeImage2'}
          .post-new__form__image__form__box
            .post-new__form__image__form__box__image
              %span NO IMAGE
              = image_tag '', id: 'postNewImage3'
            %label{for:"post_images_attributes_2_image"}追加
            = img.file_field :image, name: "post[images_attributes][2][image]", type: "file", id: 'post_images_attributes_2_image', style: 'display:none;'
            %input{type: "button",value: '取消', id: 'removeImage3'}
          .post-new__form__image__form__box
            .post-new__form__image__form__box__image
              %span NO IMAGE
              = image_tag '', id: 'postNewImage4'
            %label{for:"post_images_attributes_3_image"}追加
            = img.file_field :image, name: "post[images_attributes][3][image]", type: "file", id: 'post_images_attributes_3_image', style: 'display:none;'
            %input{type: "button",value: '取消', id: 'removeImage4'}
    .post-new__form__item-brand
      .post-new__form__item-brand__head.form-content__head
        アイテム
        %h6 ※上限５個
      .post-new__form__item-brand__bland
        %input.post-new__form__item-brand__bland__search#brand-search-field{placeholder: "ブランドを入力してください", type: "text", autocomplete: "off"}
        #brand-search-result
      .post-new__form__item-brand__item
        %select.post-new__form__item-brand__item__select
          %option{value: ""} アイテムを選択してください
      .post-new__form__item-brand__decide
        %input.post-new__form__item-brand__decide__btn{type: "button",value: '追加'}
      .post-new__form__item-brand__selected
    .post-new__form__title.form-content
      .post-new__form__title__head.form-content__head
        タイトル
      .post-new__form__title__form.form-content__content
        = f.text_field :title, placeholder: "タイトル"
    .post-new__form__body.form-content
      .post-new__form__body__head.form-content__head
        スタイル紹介
      .post-new__form__body__form.form-content__content
        = f.text_area :body, placeholder: "スタイル紹介文" , rows: "10"
    .post-new__form__salon.form-content
      .post-new__form__salon__head.form-content__head
        サロン
      .post-new__form__salon__area.form-content__content
        .searchbox__form__select
          %span エリア
          = icon "fas", "chevron-right"
          .searchbox__form__select__list
            .searchbox__form__select__list__contents
              - Area.all.each do |area|
                .searchbox__form__select__list__contents__content.area-content{data: {id: area.id}}
                  = area.name
        .searchbox__form__area-selected.form-selected
        .searchbox__form__search
          = f.hidden_field :salon_id, name: 'post[salon_id]', value: '', id: 'content_id'
          %input.searchbox__form__search__salon#salon-search{placeholder: "サロン名を入力し選択してください", type: "text", autocomplete: "off"}
          #salon-search-result
        .searchbox__form__salon-selected.form-selected
        -# = f.collection_select :area_id, Area.all, :id, :name, {prompt: 'エリアを選択してください'}
        -# = f.collection_select :salon_id, Salon.all, :id, :name, {prompt: 'サロンを選択してください'}
    .post-new__form__gender.form-content
      .post-new__form__gender__head.form-content__head
        性別
      .post-new__form__gender__select.form-content__content
        .searchbox__form__radio
          = f.collection_radio_buttons(:gender_id, Gender.all, :id, :name) do |b|
            = b.label { b.radio_button + b.text }
          -# = f.collection_check_boxes(:gender_id, Gender.all, :id, :name) do |b|
          -#   = b.label { b.check_box + b.text }
    .post-new__form__length.form-content
      .post-new__form__length__head.form-content__head
        Length
      .post-new__form__length__select.form-content__content
        .searchbox__form__select
          %span Length
          = icon "fas", "chevron-right"
          = f.hidden_field :length_id, value: '', id: 'length_id'
          .searchbox__form__select__list
            %span#nogender 性別を選択してください
            .searchbox__form__select__list__contents#Women-contents
              %span Women
              - length_select(1).each do |length|
                .searchbox__form__select__list__contents__content.length-content{data: {id: length.id}}
                  = length.name
            .searchbox__form__select__list__contents#Men-contents
              %span Men
              - length_select(2).each do |length|
                .searchbox__form__select__list__contents__content.length-content{data: {id: length.id}}
                  = length.name
        .searchbox__form__length-selected.form-selected
    -#   .post-new__form__gender__head.form-content__head
    -#     性別
    -#   .post-new__form__gender__select.form-content__content
    -#     = f.collection_select :gender_id, Gender.all, :id, :name, {prompt: '選択してください'}
    -# .post-new__form__length.form-content
    -#   .post-new__form__length__head.form-content__head
    -#     Length
    -#   .post-new__form__length__select.form-content__content
    -#     = f.collection_select :length_id, Length.all, :id, :name, {prompt: '選択してください'}
    .post-new__form__age.form-content
      .post-new__form__age__head.form-content__head
        年齢
      .post-new__form__age__select.form-content__content
        = f.number_field :age, class: "", min: 1, max: 100
  .post-new__submit
    = f.submit "投稿する", class: 'post-new__submit__btn'

