.post-search.individual-page
  .post-search__head.individual-page__head
    .post-search__head__contents.individual-page__head__contents
      = icon 'fas', 'camera-retro', class: 'search-icon'
      %span スタイル一覧
  .post-search__contents
    = render 'shared/postsearchbox'
    .post-search__contents__main
      .post-search__contents__main__counts
        = @postsallcount
        %span 件
      .post-search__contents__main__posts
        = render @posts
      = paginate @posts