.show
  .show__header
    .show__header__user
      .show__header__user__left
        .show__header__user__left__icon
          - if @post.user.icon.url.present?
            = link_to user_path(@post.user) do
              = image_tag @post.user.icon.url, class: '', size: '40x40'
          - else
            = link_to user_path(@post.user) do
              = image_tag 'egg-icon-gray.png', size: '40x40'
        .show__header__user__left__contents
          .show__header__user__left__contents__name
            = @post.user.name
          .show__header__user__left__contents__else
            .show__header__user__left__contents__else__id
              @#{@post.user.acountid}
            .show__header__user__left__contents__else__gender
              - if @post.user.gender
                |
                = @post.user.gender.name
            .show__header__user__left__contents__else__age
              - if @post.user.age.present?
                |
                = @post.user.age
            .show__header__user__left__contents__else__length
              - if @post.user.length_id.present?
                |
                = @post.user.length.name
            - if @post.user.salon
              |
              = link_to salon_path(@post.user.salon), class: 'show__header__user__left__contents__else__salon' do
                = salon_name(@post.user.salon)
      .show__header__user__right
        .show__header__user__right__follow
          - if user_signed_in?
            - if current_user.id == @post.user.id
              %button{type: "button", class: "btn btn-primary", id: "user-edit"}
                = link_to '編集', edit_user_path(current_user)
            - else
              - if current_user.following? @post.user
                %button{type: "button", class: "btn btn-primary", id: "unfollow"}
                  = link_to "フォロー中", {controller: :users,action: :unfollow,user_id: @post.user.id}, method: :put
              - else
                %button{type: "button", class: "btn btn-primary", id: "follow"}
                  = link_to "フォローする", {controller: :users,action: :follow,user_id: @post.user.id}, method: :put
  .show__contents
    .show__contents__post
      .show__contents__post__items
        .show__contents__post__items__head
          使用アイテム
        - @post.items.each do |item|
          .show__contents__post__items__item
            .show__contents__post__items__item__img
              - if item.image_url == "?target=70x70" 
                = image_tag 'noimage.jpg', size: '70x70'
              - else
                = image_tag item.image_url
            .show__contents__post__items__item__brand
              = item.brand.name
            .show__contents__post__items__item__name
              = item.name
      .show__contents__post__left
        .show__contents__post__left__image
          - if @post.images.present?
            %ul.slider-for
              - @post.images.each do |image|
                %li
                  = image_tag image.image.url, class: ''
            %ul.slider-nav
              - @post.images.each do |image|
                %li
                  = image_tag image.image.url, class: ''
        .show__contents__post__left__bottom
          .show__contents__post__left__bottom__favorite.col-2
            - if user_signed_in?
              - if current_user.already_favorited?(@post)
                = link_to post_favorite_path(@post), method: :delete, class: 'favorite-delete', id: "favorite-delete" do
                  .show__contents__post__left__bottom__favorite__icon
                    = icon "fas",'heart', class: 'icon'
                  .show__contents__post__left__bottom__favorite__count
                    = @post.favorites.count
              - else
                = link_to post_favorites_path(@post,@favorites), method: :post, class: 'favorite-create', id: "favorite-create" do
                  .show__contents__post__left__bottom__favorite__icon
                    = icon "far",'heart', class: 'icon'
                  .show__contents__post__left__bottom__favorite__count
                    = @post.favorites.count
            - else
              = link_to post_favorite_path(@post), method: :delete, class: 'favorite-delete', id: "favorite-delete" do
                .show__contents__post__left__bottom__favorite__icon
                  = icon "fas",'heart', class: 'icon'
                .show__contents__post__left__bottom__favorite__count
                  = @post.favorites.count
      .show__contents__post__right
        .show__contents__post__right__title
          = @post.title
        .show__contents__post__right__introduction
          - if @post.length
            #{@post.length.name}
          - if @post.gender
            |
            #{@post.gender.name}
          - if @post.age
            |
            #{@post.age}
          - if @post.salon
            |
            = link_to salon_path(@post.salon), class: 'show__contents__post__right__introduction__salon' do
              = salon_name(@post.salon)
          - if user_signed_in? && current_user.id == @post.user_id
            = link_to post_path(@post.id), method: :delete, data: { confirm: 'ほんとに消していいの？' }, class: 'show__contents__post__right__introduction__trash' do
              = icon "far", "trash-alt", class: "trash"
        .show__contents__post__right__body
          - if @post.body.present?
            %p
              = simple_format(@post.body)
        .show__contents__post__right__date
          = @post.created_at.strftime("%Y/%m/%d %H:%M")
  .show__bottom
    .show__bottom__container
      .show__bottom__container__head
        コメント一覧
        #{@comments.count}
        件
      .show__bottom__container__comments
        - if @comments.present?
          - @comments.each do |comment|
            .show__bottom__container__comments__comment
              .show__bottom__container__comments__comment__user
                = link_to user_path(comment.user.id), class: 'show__bottom__container__comments__comment__user__icon' do
                  - if comment.user.icon.url.present?
                    = image_tag comment.user.icon.url, class: '', size: '40x38'
                  - else
                    = image_tag 'egg-icon-gray.png', size: '40x38'
                .show__bottom__container__comments__comment__user__info
                  .show__bottom__container__comments__comment__user__info__name
                    = comment.user.name
                  .show__bottom__container__comments__comment__user__info__id
                    @
                    = comment.user.acountid
              - if comment.body.present?
                .show__bottom__container__comments__comment__body
                  = simple_format(comment.body)
              - if comment.image.url.present?
                = image_tag comment.image.url, class: ''
              .show__bottom__container__comments__comment__date
                = comment.created_at.strftime("%Y/%m/%d %H:%M")
              - if user_signed_in? && current_user.id == comment.user_id
                = link_to post_comment_path(@post,comment), class:'show__bottom__container__comments__comment__trash', method: :delete, data: { confirm: 'このコメントを削除しますか？' } do
                  = icon "far", "trash-alt", class: "trash"
        - else
          .show__bottom__container__comments__no
            この投稿にコメントはまだありません
    .show__bottom__form
      .show__bottom__form__icon
        - if user_signed_in?
          - if current_user.icon.url.present?
            = image_tag current_user.icon.url, class: '', size: '40x40'
          - else
            = image_tag 'egg-icon-gray.png', size: '40x40'
        - else
      = form_with(model: [@post, @comment], local: true, class: "show__bottom__form__new") do |f|
        .show__bottom__form__new__body
          = f.text_area :body, placeholder: "コメントを入力してください" , rows: "10"
        .show__bottom__form__new__bottom
          .show__bottom__form__new__bottom__image
            = f.label :image do
              = icon "far", "image", class: "image"
              = f.file_field :image, style: 'display:none;'
          .show__bottom__form__new__bottom__submit
            = f.submit "コメントする"