= render partial: 'shared/timeline-gender-select'
.timeline
  .timeline__recommend
    .timeline__recommend__head
      おすすめユーザー
    .timeline__recommend__users
      - recommendusers_judge(@recommendusers).each do |user|
        .timeline__recommend__users__user
          .timeline__recommend__users__user__icon
            = link_to user_path(user) do
              = image_tag user.icon_judge
          .timeline__recommend__users__user__name
            = user.name
          .timeline__recommend__users__user__follower
            %span フォロワー
            = user.followers.count
          .timeline__recommend__users__user__common
            (共通のフォロー
            - if user.commonfollowcount(current_user).present?
              = user.commonfollowcount(current_user)
            - else
              0
            )
          .timeline__recommend__users__user__btn
            - if current_user.following? user
              %button{type: "button", class: "btn btn-primary", id: "unfollow"}
                = link_to "フォロー中", {controller: :users,action: :unfollow,user_id: user.id}, method: :put
            - else
              %button{type: "button", class: "btn btn-primary", id: "follow"}
                = link_to "フォローする", {controller: :users,action: :follow,user_id: user.id}, method: :put
  .timeline__main
    .timeline__main__head
      フォローユーザーの最新スタイル
    .timeline__main__posts
      .genderAll.active
        .posts
          = render partial: 'posts/post', collection: @posts
        = paginate @posts