!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hairstagram
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag    'application', media: 'screen and (min-width:1024px)', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", rel: "stylesheet"}
  %body
    .modal
      .modal__item
        .modal__item__delete.modal-delete
          ×
        .modal__item__items
      .modal__salon
        .modal__salon__delete.modal-delete
          ×
        %input.searchbox__form__search__salon#salon-search{placeholder: "サロン名を入力し選択してください", type: "text", autocomplete: "off"}
        #salon-search-result
    = render partial: "layouts/header", locals: { user: @currentuser}
    .main
      .main-contents
        = yield
    = render "layouts/footer"